*{
    margin: 0%;
    padding:0%;
}

.Department{   
    
    position: absolute;
    background-color: rgb(98, 96, 104);
    width: 40%;
    height: 15vh;
    text-align: center;
    display: flex;
   align-items: center;
   justify-content: center;
   
    
}

.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       
}

.navbar{ 
    position: absolute; 
    width: 100%;
   
}

.navbar a{
   position: relative;
   left: 45%;
   top:20px ;
   color: black;
   text-decoration: none;
   margin-right: 20px;
    text-transform: uppercase;
    position: relative;
    transition: 0.4s ease-in-out;
}
.navbar a:hover{
    color: lightcoral;
}


*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
body{
    background-color: #dadada;
}.container{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 75px;
   position: relative;
   
}
.card{
    width: 330px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0, 0, 2);
    margin: 30px;
    transition: transform 0.6s ease;
    }

.card:hover{
    transform: translateY(-20px);
}

.card img{
    width: 100%;
    height: auto;
}
.card-content h3{
     font-size: 28px;
     margin-bottom: 10px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}
 .button{
    display: inline-block;
    padding: 8px 20px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #f0f0f0;
    transition: 0.4s ease-in-out;
   margin: 26px;
}
.button:hover{
    background-color: rgb(96, 190, 190);
}
.navibar{
    
    background-color:  rgb(98, 96, 104);
   position: fixed;
    bottom: -10px;
    width: 100%;
}
.navibar a{
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17;
    transition: 0.4s ease-in-out;
}
.navibar a:hover{
    color: lightcoral;
}
